<aside class="con3 fn-right">
	<section class="side-box">
		<h3>NIUED</h3>
		<ul class="friend-link">
			<li>前端攻城师，这是我的小站。欢迎大家光临。</li>
		</ul>
	</section>
	<section class="side-box">
		<h3>最新评论</h3>
		<div id="recentcomments" style="padding:0 10px;" class="dsq-widget">
			<script type="text/javascript" src="http://niued.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=200"></script>
		</div>
	</section>
	<section class="side-box">
		<h3>我的新浪微博</h3>
		<iframe width="100%" height="450" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=450&fansRow=2&ptype=1&speed=0&skin=2&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1736082380&verifier=fa40be14&colors=efefef,efefef,666666,0082cb,ecfbfd&dpc=1"></iframe>
	</section>
	
	<section class="side-box">
		<h3>链接</h3>
		<ul class="friend-link">
			<li><a href="http://ued.alipay.com/" target="_blank">支付宝UED</a><span></span></li>
			<li><a href="http://ped.alipay.com/" target="_blank">支付宝PED</a><span></span></li>
			<li><a href="http://ued.sohu.com/" target="_blank">搜狐UED</a><span></span></li>
			<li><a href="http://www.baiduux.com/" target="_blank">百度UFO</a><span></span></li>
			<li><a href="http://cdc.tencent.com/" target="_blank">腾讯CDC</a><span></span></li>
			<li><a href="htpp://www.sozhekou.com" target="_blank">搜折扣</a><span> ---冬冬的淘宝客</span></li>
			<li><a href="http://hotoo.me/" target="_blank">hotoo</a><span> ---冒顿（mò dú）</span></li>
			<li><a href="http://ntx.me/" target="_blank">tancy</a><span> ---碎碎念男</span></li>
			<li><a href="http://lefter.net" target="_blank">lefter</a><span> ---松赞</span></li>
		</ul>
	</section>
</aside>