<footer class="con11" id="footer">
	Copyright 2011-2012 by <a href="http://www.niued.com">阿拉神丁</a>
	<div class="powered">
		<a class="logo-nodejs" href="http://www.nodejs.org/" target="_blank"></a>
	</div>
</footer>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F92e815c860640dd68ebc22608e9e5f0b' type='text/javascript'%3E%3C/script%3E"));
</script>