<header id="header">
	<section class="container con11">
		<h1><a href="/"><span style="color:#ff0000;">NI</span>UED</a></h1>
		<ul class="nav fn-left">
			<li><a href="/">首页</a></li>
			<li><a href="/blog" <% if(currNav==2){%>class="current"<%}%>>Blog</a></li>
			
			<li><a href="/about" <% if(currNav==5){%>class="current"<%}%>>About</a></li>
			<li><a href="/admin" <% if(currNav==6){%>class="current"<%}%>>Admin</a></li>
		</ul>
		<!--
		<form class="searchform">
			<input type="text" class="search-query fn-left" />
		</form>
		-->
		<section class="more fn-right">
			<a href="javascript:;" class="toggle">更多</a>
			<ul class="more-link">
				<li><a href="https://github.com/niued" target="_blank">Code--Github</a></li>
				<li><a href="http://weibo.com/djqq1987" target="_blank">Weibo</a></li>
				<li><a href="https://twitter.com/#!/@niued" target="_blank">Twitter</a></li>
			</ul>
		</section>
	</section>
</header>