<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
	<channel>
		<title><![CDATA[niued]]></title>
		<link>http://www.niued.com</link>
		<description><![CDATA[niued.com,阿拉神丁的个人站点,关注用户体验,专注于前端开发,nodejs开发。]]></description>
		<language>zh-cn</language>
		<ttl>60</ttl>
        <% for(var i=0;i<articles.length;i++){%>
        <item>
            <title><![CDATA[<%= articles[i].title%>]]></title>
            <link>http://www.niued.com/post<%= articles[i]._id%></link>
            <description><![CDATA[<%- articles[i].content%>]]></description>
            <author>niued</author>
            <category><%= config.fieldList[articles[i].field?articles[i].field:0]%></category>
            <pubDate><%= articles[i].createTime%></pubDate>
        </item>
        <%}%>
    </channel>
</rss>
